

<!-- partial:index.partial.html -->
<header>
<body style="background-color:#40E0D0;">
  <div aria-busy="true" id="progress" hidden aria-label="Loading, please wait." role="progressbar"></div>
</header>
<main role="main">
  <img src="https://www.google.com/inbox/assets/images/intro/intro-logo.png" width="100" alt="" />
  <h1>Website Downloader</h1>
<!-- Script Hitung Mundur Coding By HafizhXSec403Devz -->

<style scoped="scoped" type="text/css">

#hitungmundur{

background:none;

color:red;

font-family:Oswald, Arial, Sans-serif;

font-size:15px;

text-align:center;

padding: 10px 0;

font-weight:normal;

}

.teks {

color:black;

}

</style>

<div id="hitungmundur">

<span id="countdown"></span>

</div>

<script type="text/javascript">

//<![CDATA[

// set the date we're counting down to

var target_date = new Date("Oct 17, 2021").getTime();

// variables for time units

var days, hours, minutes, seconds;

// get tag element

var countdown = document.getElementById("countdown");

// update the tag with id "countdown" every 1 second

setInterval(function () {

// find the amount of "seconds" between now and target

var current_date = new Date().getTime();

var seconds_left = (target_date - current_date) / 1000;

// do some time calculations

days = parseInt(seconds_left / 86400);

seconds_left = seconds_left % 86400;

hours = parseInt(seconds_left / 3600);

seconds_left = seconds_left % 3600;

minutes = parseInt(seconds_left / 60);

seconds = parseInt(seconds_left % 60);

// format countdown string + set tag value

  countdown.innerHTML = days + " <span class='teks'>Hari</span> " + hours + " <span class='teks'>Jam</span> "

  + minutes + " <span class='teks'>Menit</span> " + seconds + " <span class='teks'>Detik<br/>Menuju</span> Ultah HafizhXSec07";

}, 1000);

//]]>

</script>
  <font color = "red"> Gunakan website ini dengan bijak. </font>
  <font color = "red"> Semua yang anda lakukan, </font>
  <font color = "red"> Saya tidak bertanggung jawab. </font>
  
  <b> Copyright © 2021 - 2021 By </b><a href="https://wa.me/6285741056111"> HafizhXSec07. </a>
   <div class="container">
  <div class="row">
    <div class="col-lg-12" style="float: none; margin: 0 auto;">
      <div id="custom-search-input">
          <form method="get" class="form" action="/search">
        <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg" id="website" placeholder="https://made-in-♥️-By-HafizhXSec07.com" />
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" id="download" type="button">
                        <i class="glyphicon glyphicon-download"></i>
                    </button>
                </span><br>
              </form>

        </div><br>
          <center><!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/MrHafizhDev/" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star MrHafizhDev/Website-downloader on GitHub">Star</a></center>
              
      </div>
      <br>
    </div>
  </div>
  <iframe src="https://i.top4top.io/m_21020ls300.mp3" hidden="hidden" allow="autoplay"; encrypt-media></iframe>
  <h5 hidden id='nFilesP'>Total Downloaded file: <span  id='nFiles' style="color: red;font-weight: bold">10</span></h5>
  <p  class="log" id='log'></p>
  <button style="display: none" class="btn btn-success">Download website assets</button>
</div> 


  
</main>























































































<!-- partial -->
  
